<div class="addExam">
    <div class="examDescribe">
        <h2>考试描述</h2>
            <form class="form-inline">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="examName">考试名称</label>
                            <input type="text" class="form-control examName" id="examName" v-model="examName">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="examClassify">考试类型</label>
                            <select class="form-control examClassify" id="examClassify" v-model="examClassify">
                                <option value="" selected>请选择考试类型</option>
                                <option value="0">个人</option>
                                <option value="1">学校</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="examAttention">考试须知</label>
                            <textarea class="form-control examAttention" rows="4" id="examAttention" v-model="examAttention"></textarea>
                        </div>
                    </div>
                </div>
            </form>
    </div>
    <div class="examRule">
        <h2>考试规则</h2>
        <form class="form-inline">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="answerType">答卷模式</label>
                        <select class="form-control answerType" id="answerType" v-model="answerType">
                            <option value="" selected>请选择答卷模式</option>
                            <option value="0">每页显示一题</option>
                            <option value="1">显示全部试卷</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="scoreType">考试分数</label>
                        <select class="form-control scoreType" id="scoreType" v-model="scoreType">
                            <option value="" selected>请选择考试分数类型</option>
                            <option value="0">分数</option>
                            <option value="1">字母</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="duration">考试时长</label>
                        <input class="form-control duration" id="duration" v-model="duration" type="number">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="startTime">开考时间</label>
                        <input class="form-control startTime" id="startTime" v-model="startTime">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="clockStyle">计时方式</label>
                        <select class="form-control clockStyle" id="clockStyle" v-model="clockStyle">
                            <option value="" selected>请选择计时方式</option>
                            <option value="0">开始考试</option>
                            <option value="1">打开试卷</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="late">开考</label>
                        <input class="form-control late" id="late" v-model="late"  type="number">
                        <p class="form-control-static">分钟禁止进入考试</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="disorder" id="disorder" v-model="disorder" name="disorder">选项乱序
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="fullScreen" id="fullScreen" v-model="fullScreen" name="fullScreen">全屏防作弊
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="isScore" id="isScore" v-model="isScore" name="isScore">永不发布成绩
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="isPaper" id="isPaper" v-model="isPaper" name="isPaper">发布后允许查看试卷
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="aa" id="aa"  name="aa">人工评阅
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="rightMouseButtonDisable" id="rightMouseButtonDisable" v-model="rightMouseButtonDisable" name="rightMouseButtonDisable">禁用复制粘贴鼠标右键
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="isRank" id="isRank" v-model="isRank" name="isRank">显示排名
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="duration">阅卷开始时间</label>
                        <input class="form-control correctBegin" id="correctBegin" v-model="correctBegin">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="duration">阅卷结束时间</label>
                        <input class="form-control correctEnd" id="correctEnd" v-model="correctEnd">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="examiner">审核</label>
                        <select class="form-control auditor" v-model="auditor" id="auditor">
                            <option v-for="(auditor,index) in auditorList" :value="auditor.teacherID">{{auditor.teacherName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="examiner">监考</label>
                        <select class="form-control examiner" v-model="examiner" id="examiner">
                            <option v-for="(examiner,index) in examinerList" :value="examiner.teacherID">{{examiner.teacherName}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="paperAndGroup">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#addPaper" aria-controls="addPaper" role="tab" data-toggle="tab">试卷</a></li>
            <li role="presentation"><a href="#addGroup" aria-controls="addGroup" role="tab" data-toggle="tab">用户组</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="addPaper">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" @click="pickPaper">选择试卷</button>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>试卷名称</th>
                        <th>试卷总分</th>
                        <th>试题数量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody v-for="(paper,index) in selectPaperList">
                    <tr>
                        <td>{{paper.paperName}}</td>
                        <td>{{paper.score}}</td>
                        <td>{{paper.questionNumber}}</td>
                        <td><a href="" @click="dlePaper(index)">删除</a>&nbsp;&nbsp;<a href="javascript:;" @click="assignCorrector(index)">指定阅卷人</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="addGroup">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="static" @click="selectGroup">选择组</button>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>组名称</th>
                        <th>包含人数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody v-for="(group,index) in selectGroupList">
                    <tr>
                        <td>{{group.groupName}}</td>
                        <td>{{group.studentNumber}}</td>
                        <td><a href="">删除</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" @click="save">保存</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="selectPaper">
        <div class="modal-dialog modal-lg" role="document"  style="width: 80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-label="Close"><span aria-hidden="true" @click="closePaper">&times;</span></button>
                    <h4 class="modal-title">选择试卷</h4>
                </div>
                <div class="modal-body">
                    <selectPaper :isPaperOperation="isPaperOperation" @selectPaper="selectPaper" ref="paperClean">
                    </selectPaper>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="selectGroup">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">选择用户组</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>组名称</th>
                            <th>包含人数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody v-for="(group,index) in groupList">
                        <tr>
                            <td>{{group.groupName}}</td>
                            <td>{{group.studentNumber}}</td>
                            <td><a href="javascript:;" @click="chooseGroup(index)">选择</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="assignCorrector">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">指定阅卷人</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{assignCorrectorPaper.paperName}}</div>
                        <div class="panel-body">
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th>题目</th>
                                    <th>包含题目数量</th>
                                    <th>阅卷人</th>
                                </tr>
                                </thead>
                                <tbody v-for="(question,index) in assignCorrectorPaper.question">
                                <tr>
                                    <td>{{question.titleDescribe}}</td>
                                    <td>{{question.questionGroup.length}}</td>
                                    <td>
                                        <select class="teacherID" id="corrector">
                                            <option v-for="(corrector,index) in correctorList" :value="corrector.teacherID">{{corrector.teacherName}}</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" >取消</button>
                                <button type="button" class="btn btn-primary" @click="quesDistribute">确认</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>