 .navbar {
   margin: 0;
   background-color:#313F4C;
   border: 0;
   border-radius:0;
 }
 .navbar-default {
   .navbar-nav {
     li {
       .name,.user {
         color: #fff;
       }
       .name:hover,.user:hover {
         color: #ddd;
       }
       .name:focus {
         color: #ddd;
       }
       .user:focus {
         color: #000;
       }
     }
   }
 }
.tree{
  padding: 0;
  height: calc(~'100vh - 52px');
  background-color: #516272;
}
.col-md-10{
  height: calc(~'100vh - 52px');
  background-color: #F5F6FB;
  .mainframe {
    margin-top: 15px;
  }
}