<div class="paperManage">
    <div class="paperSearch">
        <div class="row">
            <form class="form-inline">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <select class="form-control paperClassify" v-model="search.paperClassify">
                            <option value="" selected>试卷分类</option>
                            <option value="0">考试</option>
                            <option value="1">练习</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <input class="form-control paperName" v-model="search.paperName" placeholder="试卷名称">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <input class="form-control founder" v-model="search.founder" placeholder="创建人">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <select class="form-control subject" v-model="search.subject">
                            <option value="" selected>学科分类</option>
                            <option value="0">计算机</option>
                            <option value="1">通信工程</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <select class="form-control auditStatus" v-model="search.auditStatus">
                            <option value="" selected>试卷状态</option>
                            <option value="0">已通过</option>
                            <option value="1">正在审核</option>
                            <option value="2">审核未通过</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <input class="form-control score" v-model="search.score" placeholder="试卷总分" type="number">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <input class="form-control form_datetime lastUpdate" v-model="search.lastUpdate" placeholder="最后更新时间" readonly>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" @click="goSearch">搜索</button>
                        <button type="button" class="btn btn-default" @click="empty">清空</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="paperList">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th><input type="checkbox" @change="selectAll" v-show="isPaperOperation"></th>
                <th>编号</th>
                <th>试卷名称</th>
                <th>试题总分</th>
                <th>试题总数</th>
                <th>试卷状态</th>
                <th>创建人</th>
                <th>最后更新时间</th>
                <th v-show="isPaperOperation">操作</th>
            </tr>
            </thead>
            <tbody v-for="(paper,index) in paperList">
            <tr>
                <td width="30px"><input type="checkbox" v-model="choose" v-bind:value = "paper.paperID" @change="choosePaperToExam(index,$event)"></td>
                <td>{{paper.paperID}}</td>
                <td><a href="javascript:;" @click="paperPreModal(index)">{{paper.paperName}}</a></td>
                <td>{{paper.score}}</td>
                <td>{{paper.questionNumber}}</td>
                <td>{{paper.paperStatus | paperStatusToString}}</td>
                <td>{{paper.founder}}</td>
                <td>{{paper.lastUpdate | unixToTime}}</td>
                <td  v-show="isPaperOperation"><a href="javascript:;" @click="paperModify(index)" >编辑</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="bottom">
        <div class="delete pull-left" v-show="isPaperOperation">
            <button type="button" class="btn btn-default" @click="questionDel">删除</button>
        </div>
        <!--添加考试激活本组件，显示添加按钮，向父组件传递勾选试卷集合-->
        <div class="delete pull-left" v-show="!isPaperOperation">
            <button type="button" class="btn btn-primary" @click="addToExam">添加</button>
        </div>
        <div class="paging pull-right">
            <ul id="questionPage"></ul>
        </div>
    </div>
    <div class="modal fade" id="paperPre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="paperPreModalclose"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">试卷预览</h4>
                </div>
                <div class="modal-body">
                    <paperPreview :paperdetail="paperdetail">
                    </paperPreview>
                </div>
            </div>
        </div>
    </div>
</div>